includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    noModelMake: false
    noUnnecessaryCollectionCall: false
    paths:
        - app
        - database
        - tests

    # Level 9 is the highest level
    level: 2

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false